/*
=============== 
Imported Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*gsap*/
.icon{
  scale: 1;
  opacity: 1;
}

.animated-img{
  opacity: 1;
  scale:1;
}

.animated-img2{
  opacity: 1;
  scale:1;
}

.animated-img3{
  opacity: 1;
  scale:1;
}


.list{
  scale: 1;
  opacity: 1;
}

.g-container{
scale:1;
}

/*gsap*/

html {
  scroll-behavior: smooth;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}


img{
    display: block;
    max-width: 100%;
}

ul {
  list-style: none;
}

ul li{

 font-size: 1.25rem;

}


.phone-num a{
  font-size: 3rem;
 color: white;
  }

.heading{
  text-align: center;
  padding:2rem  1rem;
 
}
.heading h2{
  color: hsl(0, 86%, 53%);
}
 p {
font-size: 1.25rem;
 margin-top: 1rem;
}

.paragrph{
  padding: 1rem;
}

section {
padding: 1rem 0;
}



/*header starts*/
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 15px;
  background-color: white;
  transition: 0.3s ease background-color;
  z-index: 1;
}

.logo {
 width: 120px;
}

.logo img {
  object-fit: cover;
  width: 100%;
 }

/*fixed nav*/
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   border: none;
}

.nav-ul li a {
  color: black;
}

.fixed-nav .nav-ul li a {
  color: black;
}

.fixed-nav .hamburger {
  color: black;
}

.links-container {
  height: auto;
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
   padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.nav-ul li a:hover {
  color:hsl(0, 86%, 53%) ;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

#hero {
  max-width: 100%;
 background: url('kkk.jpg');

  background-position: center center;
  

  background-size: cover;
  min-height: 100vh;
  object-fit: cover;
}

.banner-cont {
  width: 100%;
  min-height: 100vh;
  scale:1;
  opacity:1;
  display: flex;
  color:white;
  text-shadow: 2px 2px 2px rgb(14, 13, 13);
  align-items: center;
 
}

#banner {
 
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: .50rem;
}



.icons-container a, .fa-solid{
  font-size: 2rem;
  font-weight: bold;
  color:   hsl(0, 86%, 53%);
 
}

#banner a:hover {
  color: white;
}

.icons-container{
  display: flex;
  gap: 1rem;
}

/*card*/
.card {
border:3px double hsl(0, 86%, 53%);
margin: 1rem auto;
width: 90%;
}

.card-desc {
 text-align: center;
 background-color: hsl(0, 86%, 53%);
 padding: 1rem;
 border-top: 3px double #033579 ;
 color: white;
  }

/*card*/
.grid {
  width: 70%;
  margin: 0 auto;

}

.grid .g-container{
  width: 100%;
  padding-bottom: 1rem;
}

.grid .g-container img{
  width: 100%;
  
}
/*services-list*/
.services-list {
  display: grid;
 width:100% ;
  padding:3rem 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  color: white;
  font-weight: bold;
  text-decoration: overline;
  background-color: #033579;
  margin: 2rem 0;
}
/*contact*/
.contact-us{
background-color:  hsl(0, 86%, 53%);
color: white;
padding: 2rem 1rem;
margin: 2rem 0;
font-weight: bold;
display: flex;
flex-direction: column;
gap: .50rem;
}

/*footer*/
footer{
  padding: 3rem;
  background-color: #033579;
  text-align: center;
  color: white;
}

@media (max-width: 950px) {
    nav {
      width: 100%;
   
    }
    .hamburger {
      display: block;
    }
   
    .logo {
      width: 100px;
     }
}

@media (max-width: 768px) {
    nav {
      flex-wrap: wrap;
    }
  
    .nav-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .links-container {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: all 0.3s linear;
    }
    .nav-ul {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-ul li {
      text-align: center;
    }
  
    .nav-ul li a {
      padding: 10px;
      text-align: center;
    }
  
    .show {
      display: block;
      height: 200px;
    }
   
  }
  
  /*header ends*/

  /*laptop*/
  @media (min-width: 45em) {
    #banner {
 
      margin-left: 3rem;
     
    }

    .heading{
     
      padding: 3rem;
     
    }

    .heading h2{
     margin-bottom: 1rem;
     
    }
  
    .paragrph{
      padding: 0 3rem;
    }
    
    section {
    padding: 5rem 0;
    }

    .child{
      display: flex;
    
      
    }

    .child-container{
      flex:1;
    }

    .text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }


    #services .child {
      width: 70%;
      margin: 0 auto;
      display: flex;
      gap: 1rem;
    }

    /*services-list*/
.services-list {
margin: 2rem auto;
 width:70% ;
  
}

    .grid {
      margin: 0 auto;
      width: 90%;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }

    /*contact*/
.contact-us{
  
  font-size: 1.5rem;
 
  }
  .phone-num a{
  font-size: 5rem;
  }

  }  
