/*
=============== 
Imported Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1:  hsl(205, 86%, 17%);
   /* red dark */
   --clr-red-dark: hsl(0, 86%, 53%);
 
 
  /* darkest grey - used for headings */
  --clr-grey-1:#3f3f3d;
 
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  /* white */
  --clr-white: #fff;
 
  /* white */
  --clr-black: #000000;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
 
 }




/*
=============== 
Global Styles
===============
*/

*,
::after,
::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--clr-primary-1);
    font-family: var(--ff-primary);
    font-weight: bold;
  }

  a{
    color: var(--clr-white);
  }

  li {
    list-style: none;
  }

  img{
    display: block;
    max-width: 100%;
  }
  i {
    color: var(--clr-red-dark);
    font-size: 2rem;
  }
  .header h2{
    text-align: center;
    margin-bottom: 1rem;
   
  }

/**********hero-intro*************/

.hero-intro{
  opacity: 1;
}
 
  @media (min-width:45rem) {
    h1{
      font-size: 2.5rem;
    }

    h3{
      font-size: 1.75rem;
    }
   
      }
/**********hero-intro*************/

  .home{
    position: relative;
    width: 100%;
    height: 100vh;
  }


  /*****************************SLIDER******************************/
  .hero-intro{
    position: absolute;
    right: 0;
    bottom: 1rem;
    padding: 1rem;
    color: var(--clr-white);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  }

  /*********SLIDER*******/
  .slider{
    position:relative;
    width:100%;
    height: 100vh;
   
  }
  
  .slider img{
    width: 100%;
    object-fit: cover;
    display: none;
    height: 100%;
    top: 0;
  }
  
   img.displaySlide{
      display: block;
    }
 /*********SLIDER*******/


    /*********************NAVBAR*******************/
   .nav{
    background-color: var(--clr-primary-1);
    display: flex;
    flex-direction: column;
  padding: .50rem;
    position:fixed;
    width: 100%;
  
    z-index: 999;
   }

.nav ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
}
  
    .burger div{
      width: 25px;
      height: 3px;
      background-color: var(--clr-white);
      margin:5px;
    }
    
    .top-nav{
      display: flex;
      justify-content: space-around;
      margin: 1rem 0;
      align-items: center;
    }
 

  .call{
    font-weight: bold;
    font-size: 1.5rem;
  }


  .nav-links{
  display: none;
  }

  .nav-active.nav-links{
    display: block;
    width: 100%;
    text-align: center;

    
  }

  .nav-links li {
   border-top: 1px solid black;
   padding: 1rem;
  }

  .toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);

  }

  @media (min-width:45em) {
    .nav{
     width: 100%;
      flex-direction: row;
     justify-content: space-between;
     padding: 1rem 2rem;
     align-items: center;
     }



     .nav-links{
      display: flex;
      
    }

    
  .nav-links li {
    border-top:none;
    padding: 1rem;
   }
 
 
    .burger{
      display: none;
    }

  }

/*********************NAVBAR*******************/

 /*************ABOUT STARTS*************/
  .about{
  
  }
  .top{
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }


  .logo{
    opacity: 1;
    scale:1;
  }
  .bottom{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }


  .text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
 .bullets{
 width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.bullet{
  scale:1;
  border: 3px solid var(--clr-red-dark);
  padding: .50rem .25rem;
  border-radius: 5px;
  text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--clr-grey-1);
   color: var(--clr-white);
}

@media (min-width:65em) {
  .about{
  padding: 5rem 0;

  }

  

  .logo{
    width: 30%;
    
   margin: 0 auto;
  }

  .bottom{

    flex-direction: row;
    gap: 3rem;
    
  }

  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

 /*************ABOUT ENDS*************/

  /*************SERVICES STARTS*************/
  .services{
  background-image: url(../wood.jpg);
  color: var(--clr-white);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
gap: 3rem;
text-align: center;
  }

  .services-cards{
    width: 100%;
    

  }
  .card{
    margin: 1rem auto;
    width: 60%;
    background-color: var(--clr-red-dark);
    box-shadow: 2px 2px 2px  rgb(27, 27, 27);
  }

 .card-text{
  color: var(--clr-white);
  padding: 1rem;
  text-align: center;
  }

    /*services-list*/
.list {
 scale: 1;
    
  }

/*services-list*/
.services-list {
  margin: 0 auto;
  width:70% ;
  display: grid;
 width:100% ;
  padding:3rem 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  color: var(--clr-white);
  font-weight: bold;
  text-decoration: overline;
  background-color: var(--clr-primary-1);
  box-shadow: 3px 3px 3px rgb(27, 27, 27);

}

  @media (min-width:45rem) {
    .services{
      
      padding: 8rem;
    
      }

   .services-cards{
   display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
      }

     /*************SERVICES ENDS*************/

     



    /*************CONTACT STARTS*************/
  
    .contact{
      padding: 3rem 0;
      }

  .text-container ul li {
margin-bottom: 1rem;
font-size: 1.5rem;
  }

 

  .icon{
  border: 1px solid var(--clr-primary-1);
  padding: 1rem;
  background-color: var(--clr-primary-1);
  opacity:1;
  scale:1;
  }


 
 
 .icon-container{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
 }


 .full-img, .gallery-img{
  position: relative;
 }
 .over-lay{
  position: absolute;
  right: 0;
bottom: 50px;
  padding: 1rem;
  background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: var(--clr-white);
    opacity: 1;
    scale: 1;
 }
 @media (min-width:45rem) {
  .contact{
    padding: 8rem 0;
    }
  .over-lay{
   font-size: 2rem;
   }
  }

 /************GALLERY**************/

 .gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem ;
  background-image: url(../wood.jpg);
 }


 .gallery-img{
 margin-bottom: 5rem;
 box-shadow: 3px 3px 3px rgb(22, 22, 22);
opacity: 1;
scale:1;
 }

 @media (min-width:45rem) {
  .gallery{
    width: 100%;
background-color: #49a6e9;
  flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
    padding: 8rem 5rem;
   }
  
  
   .gallery-img{
 width: 350px;
height: 400px;
margin: 0;
   }

    
   .gallery-img img {
    width: 100%;
   height: 100%;
   object-fit: cover;
      }
     }
 /************FOOTER**************/

 footer{
  text-align: center;
  border-top: 3px solid var(--clr-primary-1);
  padding: 3rem 1rem;
  color: var(--clr-red-dark);
  font-weight: bold;
}
  
